<h3>
  Basic Buttons
</h3>
<hr>

<div>
  <basic-button label='Basic'></basic-button>
  <basic-button class='Primary' label='Primary'></basic-button>
  <basic-button label="Success"></basic-button>
  <basic-button label="Info"></basic-button>
  <basic-button label="Danger"></basic-button>
  <basic-button label="Warning"></basic-button>
</div>

<h3>
  Custom Buttons
</h3>
<hr>
<div>
<custom-button  bgColor='red' color='white' label="Basic"></custom-button>
<custom-button style="margin-left: 5%" label="Primary"></custom-button>
</div>

